{%extends 'base.html'%}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tareas/css/tareas.css' %}">
{% endblock %}

{%block content%}


<div class="d-flex flex-column align-items-center justify-content-center font">

    <div class="d-flex flex-column align-items-center p-4 mt-4 fondo">

        <h1 class="text-center mb-3">CREAR TAREA</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="d-flex flex-column justify-content-center align-items-center">

                    <!-- <label style="font-size: 20px;" class="mb-2" for=""><strong>Titulo  </strong></label> -->
                    
                     <div class="input-group mb-2">
                        <input type="text" class="form-control" name="titulo" placeholder="Ingresar tarea" aria-label="Recipient’s username" aria-describedby="button-addon2" required>
                        <button class="btn btn-success" type="submit" id="button-addon2"><strong>Guardar</strong></button>
                     </div>
                <div>
                    

                    <div class="input-group mb-3">
</div>
                <a href="{% url 'tareas' %}" class="btn btn-primary" style="width: 150px;"> <strong>Volver</strong></a>
                </div>
                
            </div>

            
        </form>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

</div>

{%endblock%}