{%extends 'base.html'%}

{%block content%}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h1>Lista Tareas</h1>
        <div>
            <a class="btn btn-success" href="{% url 'crear_tarea' %}">Crear tarea</a>
        </div>
        
    </div>

    {%if lista%}
    <div>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Completada</th>
                    <th>Creacion</th>
                </tr>
            </thead>

            <tbody>
                {%for tarea in lista%}
                <tr>
                    <td>{{tarea.titulo}}</td>
                    <td>{{tarea.completada}}</td>
                    <td>{{tarea.create_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

    </div>

    {%else%}
        <p>No tenes tareas!</p>
    {%endif%}


</div>

{%endblock%}