{%extends 'base.html'%}

{%block content%}

<div class="container">
    <h1>Lista Tareas</h1>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Ciudad</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Fede</td>
                <td>25</td>
                <td>Buenos Aires</td>
            </tr>
            <tr>
                <td>Juan</td>
                <td>30</td>
                <td>Córdoba</td>
            </tr>
        </tbody>
    </table>
</div>

{%endblock%}